<header>
  <div class="logoHumanity">
    <h1>Humanity</h1>
    <h2>People-centered Data<span>by AXA</span></h2>
  </div>
  <div class="logoAxa">
    <a href="https://www.axa.com/" target="_blank">
      <img src="/assets/logos/AXA_logo.svg" alt="AXA logo">
    </a>
  </div>
</header>

<app-globe (changeInfo)="changeInfoModel($event)"></app-globe>
<app-data-panel></app-data-panel>
<app-globe-info-panel [infoModel]="infoModel"></app-globe-info-panel>

<footer>
  <p class="copyright">2017 &copy; AXA All Rights Reserved</p>
  <a href="https://carto.com" target="_blank" class="logoCARTO">
    <img src="/assets/logos/CARTO_logo_negative.svg" />
  </a>
  <div class="geographica">
    <a href="https://geographica.gs" target="_blank">
      engineered by <span>Geographica</span>
    </a>
  </div>
</footer>
