$colorPrimary: #00008F;
$colorAccent: #7F7F7F;
$colorAccentAlt: #F07662;

$colorGEO: #15B750;
$white: #FFFFFF;

$fontFamily: 'Source Sans Pro', sans-serif;
$fontFamilySecond: 'Spectral', serif;
$fontBaseSize: 16px;

$headerHeight: 96px;

$headerLargePaddingRight: 64px;
$headerLargePaddingLeft: 40px;
$headerMediumPaddingRight: 32px;
$headerMediumPaddingLeft: 20px;
$headerSmallPaddingRight: 16px;
$headerSmallPaddingLeft: 10px;
