@import url('https://fonts.googleapis.com/css?family=Spectral:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,600i,700,800,900');

@import './reset.scss';
@import './_common.scss';

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  @include font();
  font-size: $fontBaseSize;
  height: 100vh;

  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $colorAccent;

  &.geo {
    color: $colorGEO;
  }
}


.axaSlash {
  display: block;
  width: 64px;
  height: 64px;
  background-image: url('/assets/logos/AXA_bar.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &.small {
    height: 16px;
    width: 14px;
  }
}


.tooltipMessage {
  position: absolute;
  top: 100%;
  background-color: $neutro-100;
  border-radius: 12px;
  opacity: 0;
  visibility: hidden;
  height: 0;
  text-align: center;
  color: $silver;
  padding: 5px 8px 5px 8px;
  font-size: 12px;
  display: inline-table;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1003;
  white-space: nowrap;
  margin-top: 6px;
}

.tooltipContainer {
  cursor: pointer;
  position: relative;
  &:hover {
    .tooltipMessage {
      opacity: 1;
      height: auto;
      visibility: visible;
    }
  }
}
