@import url('https://fonts.googleapis.com/css?family=Spectral:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,600i,700,800,900');

@import './reset.scss';
@import './_common.scss';


.leaflet-popup.axa-popup {
  .leaflet-popup-tip-container {
    opacity: 0;
    visibility: hidden;
  }
  .leaflet-popup-content-wrapper {
    background-color: $outerSpace;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    .countryName {
      @include font('semibold');
      font-size: 16px;
      line-height: 16px;
      color: $white;
      margin-bottom: 4px;
    }
    .value {
      @include font('extrabold', $fontFamilySecond);
      font-size: 32px;
      line-height: 32px;
      color: $white;

      &.noData {
        font-size: 20px;
        line-height: 20px;
      }
    }

    .avg {
      @include font('semibold');
      font-size: 16px;
      line-height: 16px;
      color: $white;
      display: flex;
      align-items: center;
      span {
        margin-bottom: 1px;
        &.positive {
          color: $malachite;
        }
        &.negative {
          color: $amaranth;
        }
      }
      &:before {
        content: 'AVG';
        border-radius: 1px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        background-color: $neutro-50;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 1px;
        margin-right: 8px;
        padding: 0 2px;
      }
    }
  }
}


html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  @include font();
  font-size: $fontBaseSize;
  height: 100vh;

  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $colorAccent;

  &.geo {
    color: $colorGEO;
  }
}


.axaSlash {
  display: block;
  width: 64px;
  height: 64px;
  background-image: url('/assets/logos/AXA_bar.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &.small {
    height: 16px;
    width: 14px;
  }
}


.tooltipMessage {
  position: absolute;
  top: 100%;
  background-color: $neutro-100;
  border-radius: 12px;
  opacity: 0;
  visibility: hidden;
  height: 0;
  text-align: center;
  color: $silver;
  padding: 5px 8px 5px 8px;
  font-size: 12px;
  display: inline-table;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1003;
  white-space: nowrap;
  margin-top: 6px;
}

.tooltipContainer {
  cursor: pointer;
  position: relative;
  &:hover {
    .tooltipMessage {
      opacity: 1;
      height: auto;
      visibility: visible;
    }
  }
}
