@import 'common';

$indicatorHeaderHeight: 64px;

:host {
  position: absolute;
  top: $headerHeight;
  width: 320px;
  z-index: 1004;
  border-radius: 0 0 2px 2px;
  color: $white;
  max-height: calc(100vh - 128px);
  display: flex;
  flex-direction: column;
  transition: top .3s;
  &.freeFromTop {
    top: calc(#{$headerHeight} + 8px);
  }
  &.dragging {
    .header {
      background-color: transparent;
      color: transparent;
      height: 0;
      span.secondCharacter {
        color: transparent;
      }
    }
    .content {
      opacity: 0;
      visibility: hidden;
      height: 0;
    }
  }
  .header {
    flex: 0 0 $indicatorHeaderHeight;
    background: $stTropaz;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div.firstCountryName {
      display: flex;
      align-items: center;
      flex: 0 1 100%;
      height: 60px;

      span {
        text-align: left;
      }

      &:before {
        content: '';
        height: 12px;
        width: 12px;
        border-radius: 3px;
        background-color: $amaranth;
        display: block;
        margin-right: 8px;
        min-width: 12px;
      }
    }
    div.secondCountryName {
      display: flex;
      align-items: center;
      flex: 0 1 100%;
      height: 60px;
      justify-content: flex-end;
      position: relative;
      border-left: 1px solid $otherBlue;

      span {
        text-align: right;
      }

      &:after {
        content: '';
        height: 12px;
        width: 12px;
        border-radius: 3px;
        background-color: $indigo;
        display: block;
        margin-left: 8px;
        min-width: 12px;
      }

      .clearBtn {
        width: 20px;
        height: 20px;
        background-color: transparent;
        background-image: url('/assets/icons/discard-white.svg');
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: center center;
        border-radius: 50%;
        position: absolute;
        left: -10px;
        cursor: pointer;
        transition: background-image .3s;
        &:hover {
          background-image: url('/assets/icons/discard-sienna.svg');
        }
      }
    }

    span.secondCharacter {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $burntSienna;
      font-size: 14px;
      line-height: 14px;

      span.iconBase {
        width: 32px;
        height: 52px;
        background-image: url('/assets/icons/character-alt_base.svg');
        background-repeat: no-repeat;
        margin-left: 8px;
        position: relative;

        span.icon {
          width: 32px;
          height: 52px;
          background-image: url('/assets/icons/character2-alt.svg');
          background-repeat: no-repeat;
          cursor: pointer;
          position: absolute;
        }
      }
    }
  }

  .content {
    flex-grow: 1;
    overflow: auto;
    background: transparentize($azure, .05);
    transition: opacity .3s;
    max-height: 100%;
    ul.indicatorsList {
      li {
        &.showingTitle {
          .title {
            .kpiTitleAsHeader {
              text-transform: none;
              color: $white;
              white-space: nowrap;
              width: 280px;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }
        div.title {
          padding: 19px 20px;
          color: $burntSienna;
          text-transform: uppercase;
          @include font('semibold');
          font-size: 14px;
          letter-spacing: 1px;
          line-height: 16px;

          display: flex;
          align-items: center;
          cursor: pointer;
          position: sticky;
          background: $azure;
          top: 0;
          z-index: 102;

          span.catIcon {
            width: 20px;
            height: 20px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: block;
            margin-right: 11px;
          }
          span.totalKpis {
            @include font('semibold');
            letter-spacing: 1px;
            font-size: 14px;
            line-height: 16px;
            color: transparentize($white, .5);
            margin-left: 12px;
          }
          &:after {
            content: '';
            display: block;
            background-image: url("/assets/icons/arrow-dropdown-sienna.svg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 12px;
            width: 12px;
            position: absolute;
            right: 20px;
            transform: rotate(90deg);
            transition: transform .3s;
          }
        }

        ul.kpisList {
          max-height: 0;
          opacity: 0;
          visibility: hidden;
          transition: opacity .5s;
          height: 0;
          li {
            height: 0;
            padding: 0;
            border-bottom: 1px solid $stTropaz;
            overflow: hidden;

            &:hover {
              div.kpiTitle {
                div.actions {
                  transform: translateY(0%);
                }
              }
            }
            div.kpiTitle {
              display: flex;
              div.titleWrapper {
                flex: 1 1 auto;
                @include font('extrabold', $fontFamilySecond);
                color: $white;
                font-size: 20px;
                line-height: 20px;
                margin-bottom: 22px;
                span {
                  margin-right: 8px;
                }

                &.over {
                  color: $burntSienna;
                }
              }
              div.actions {
                margin-left: 10px;
                min-width: 36px;
                flex: 1 1 36px;
                transform: translateY(-120%);
                transition: transform .4s;
                div {
                  margin-bottom: 10px;
                }
                .worldIcon {
                  height: 36px;
                  width: 36px;
                  border-radius: 50%;
                  background-color: #3032C1;
                  background-image: url('/assets/icons/globe_white.svg');
                  background-size: 18px;
                  background-repeat: no-repeat;
                  background-position: center center;
                  cursor: pointer;
                  transition: background-image .3s;
                  &:hover {
                    background-image: url('/assets/icons/arrow-go_sienna.svg');
                    background-size: 20px;
                  }
                }
                .flagIcon {
                  height: 36px;
                  width: 36px;
                  border-radius: 50%;
                  background-color: #3032C1;
                  background-image: url('/assets/icons/flag_white.svg');
                  background-size: 18px;
                  background-repeat: no-repeat;
                  background-position: center center;
                  cursor: pointer;
                  transition: background-image .3s;
                  &:hover {
                    background-image: url('/assets/icons/flag_sienna.svg');
                  }
                }

                .tooltipMessage {
                  left: auto;
                  bottom: auto;
                  top: auto;
                  right: 100%;
                }
              }
            }

            div.stats {
              div.maxWrapper {
                .maxName {
                  @include font('semibold');
                  font-size: 16px;
                  line-height: 16px;
                  color: $white;
                  display: flex;
                  align-items: center;
                  &:before {
                    content: 'MAX';
                    background-color: $malachite;
                    border-radius: 1px;
                    height: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $colorAccent;
                    font-size: 12px;
                    line-height: 12px;
                    letter-spacing: 1px;
                    margin-right: 8px;
                    padding: 0 2px;
                  }
                }
                .maxValue {
                  margin-top: 6px;
                  @include font('extrabold', $fontFamilySecond);
                  font-size: 48px;
                  line-height: 48px;
                }
              }

              div.statWrapper {
                .statName {
                  @include font('semibold');
                  font-size: 16px;
                  line-height: 16px;
                  color: $white;
                  display: flex;
                  align-items: center;
                  &:before {
                    content: '';
                    border-radius: 1px;
                    height: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $colorAccent;
                    font-size: 12px;
                    line-height: 12px;
                    letter-spacing: 1px;
                    margin-right: 8px;
                    padding: 0 2px;
                  }

                  &.max {
                    &:before {
                      content: 'MAX';
                      background-color: $malachite;
                    }
                  }
                  &.min {
                    &:before {
                      content: 'MIN';
                      background-color: $amaranth;
                    }
                  }
                  &.avg {
                    &:before {
                      content: 'AVG';
                      color: $white;
                      background-color: $neutro-50;
                    }
                  }
                }
                .statValue {
                  @include font('extrabold', $fontFamilySecond);
                  font-size: 48px;
                  line-height: 48px;
                  margin: 6px auto 10px auto;

                  &.avg {
                    font-size: 32px;
                    line-height: 32px;
                  }
                }
              }
            }
            div.singleMode {
              div.value {
                @include font('extrabold', $fontFamilySecond);
                font-size: 48px;
                color: $white;
                line-height: 48px;
              }
            }

            div.comparisonMode {
              background-color: $mercury;
              border-radius: 1px;
              display: flex;
              flex-direction: column;
              padding: 12px 16px 12px 16px;
              margin-bottom: 18px;
              .barWrapper {
                margin-bottom: 12px;
                .dataWrapper {
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  margin-bottom: 4px;
                  .countryName {
                    @include font('semibold');
                    color: $mineShaft;
                    font-size: 14px;
                    line-height: 14px;
                  }

                  .value {
                    color: $mineShaft;
                    font-size: 14px;
                    line-height: 14px;
                  }
                }
              }

              .barFigure {
                height: 6px;
                width: 100%;
                background-color: $white;
                position: relative;
                .barFill {
                  position: absolute;
                  left: 0;
                  top: 0;
                  bottom: 0;

                  transition: width .3s;

                  &.blue {
                    background-color: $indigo;
                  }
                  &.red {
                    background-color: $amaranth;
                  }
                }
              }
            }

            div.placeholder {
              color: $silver;
              font-size: 16px;
              line-height: 16px;

              display: flex;
              justify-content: space-between;
              align-items: center;
              .infoIcon {
                height: 20px;
                width: 20px;
                background-image: url('/assets/icons/info.svg');
                background-size: cover;
                background-repeat: no-repeat;
                cursor: pointer;
              }
            }

            div.info {
              margin-top: 39px;
              margin-bottom: 20px;
              padding-top: 10px;
              border-top: 1px solid $stTropaz;

              .headline {
                @include font(bold);
                font-size: 18px;
                line-height: 24px;
                color: $mercury;
              }

              .body {
                @include font();
                font-size: 16px;
                line-height: 18px;
                color: $mercury;
              }

              height: 0;
              max-height: 0;
              opacity: 0;
              visibility: hidden;

              transition: opacity .3s, max-height .3s;
              &.active {
                opacity: 1;
                visibility: visible;
                height: auto;
                max-height: 500px;
                overflow-y: auto;
              }

            }

            &:last-child {
              border-bottom: 1px solid transparent;
            }
          }
        }

        &.active {
          div.title {
            &:after {
              transform: rotate(0deg);
            }
          }
          ul.kpisList {
            max-height: none;
            opacity: 1;
            visibility: visible;
            height: auto;
            padding: 0 20px;
            li {
              min-height: 280px;
              height: auto;
              padding: 16px 0;
            }
          }
        }
      }
    }
  }

  @include respond-to($small) {
    right: $headerSmallPaddingRight;
  }
  @include respond-to($medium) {
    right: $headerMediumPaddingRight;
  }
  @include respond-to($large) {
    right: $headerLargePaddingRight;
  }

}
