@import 'common';

$indicatorHeaderHeight: 64px;

:host {
  position: absolute;
  top: $headerHeight;
  width: 320px;
  z-index: 1004;
  border-radius: 0 0 2px 2px;
  color: $white;
  max-height: calc(100vh - 128px);
  display: flex;
  flex-direction: column;
  transition: top .3s;

  transform: translateY(-500%);
  transition: transform .8s, top .3s;
  transition-delay: .2s;

  &:not(.loading) {
    transform: translateY(0%);
  }

  &.freeFromTop {
    top: calc(#{$headerHeight} + 8px);

    .content {
      border-radius: 2px;
    }
  }
  &.dragging {
    .header {
      background-color: transparent;
      color: transparent;
      height: 0;
      span.secondCharacter {
        color: transparent;
      }
    }
    .content {
      opacity: 0;
      visibility: hidden;
      height: 0;
    }
  }
  .header {
    flex: 0 0 $indicatorHeaderHeight;
    background: $stTropaz;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div.firstCountryName {
      display: flex;
      align-items: center;
      flex: 0 1 100%;
      height: 60px;

      span {
        text-align: left;
        line-height: 16px;
      }

      &:before {
        content: '';
        height: 12px;
        width: 12px;
        border-radius: 3px;
        background-color: $amaranth;
        display: block;
        margin-right: 8px;
        min-width: 12px;
      }
    }

    .clearBtnWrapper {
      width: 20px;
      height: 20px;
      flex: 0 1 20px;
      min-width: 20px;
      position: relative;

      .clearBtn {
        position: absolute;
        width: 20px;
        height: 20px;
        z-index: 101;
        cursor: pointer;
        background-color: transparent;
        background-image: url('/assets/icons/discard-white.svg');
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: center center;
        border-radius: 50%;
        transition: background-image .3s;
        &:hover {
          background-image: url('/assets/icons/discard-sienna.svg');
        }
      }

      .separatorLine {
        height: 60px;
        width: 1px;
        display: block;
        border-left: 1px solid $otherBlue;
        transform: translate(10px, -19px);
      }
    }

    div.secondCountryName {
      display: flex;
      align-items: center;
      flex: 0 1 calc(100% - 20px);
      height: 60px;
      justify-content: flex-end;
      position: relative;

      span {
        line-height: 16px;
        text-align: right;
      }

      &:after {
        content: '';
        height: 12px;
        width: 12px;
        border-radius: 3px;
        background-color: $indigo;
        display: block;
        margin-left: 8px;
        min-width: 12px;
      }
    }

    span.secondCharacter {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $burntSienna;
      font-size: 14px;
      line-height: 14px;

      span.iconBase {
        width: 32px;
        height: 52px;
        background-image: url('/assets/icons/character-alt_base.svg');
        background-repeat: no-repeat;
        margin-left: 8px;
        position: relative;

        span.icon {
          width: 32px;
          height: 52px;
          background-image: url('/assets/icons/character2-alt.svg');
          background-repeat: no-repeat;
          cursor: pointer;
          position: absolute;
        }
      }

      .tooltipMessage {
        right: 0;
        left: auto;
        width: 200px;
        white-space: normal;
      }
    }
  }

  .content {
    flex-grow: 1;
    overflow: auto;
    background: $azure;
    transition: opacity .3s;
    max-height: 100%;
    position: relative;
    touch-action: none;
    ul.indicatorsList {
      li {
        &.showingTitle {
          .title {
            @include font('extrabold', $fontFamilySecond);
            font-size: 20px;
            line-height: 20px;
            padding: 13.5px 20px;
            &:after {
              top: 50%;
              margin-top: -6px;
            }

            .kpiTitleAsHeader {
              text-transform: none;
              color: $white;
              white-space: nowrap;
              width: 280px;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }
        div.title {
          padding: 19px 20px;
          color: $burntSienna;
          text-transform: uppercase;
          @include font('semibold');
          font-size: 14px;
          letter-spacing: 1px;
          line-height: 16px;

          display: flex;
          align-items: center;
          cursor: pointer;
          position: sticky;
          background: $azure;
          top: 0;
          z-index: 102;
          border-top: 1px solid $stTropaz;

          span.catIcon {
            min-width: 20px;
            min-height: 20px;
            width: 20px;
            height: 20px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: block;
            margin-right: 11px;
          }
          span.totalKpis {
            @include font('semibold');
            letter-spacing: 1px;
            font-size: 14px;
            line-height: 16px;
            color: transparentize($white, .5);
            margin-left: 12px;
          }
          &:after {
            content: '';
            display: block;
            background-image: url("/assets/icons/arrow-dropdown-sienna.svg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 12px;
            width: 12px;
            position: absolute;
            right: 20px;
            transform: rotate(90deg);
            transition: transform .3s;
          }
        }

        ul.kpisList {
          max-height: 0;
          opacity: 0;
          visibility: hidden;
          transition: opacity .5s;
          height: 0;
          li {
            height: 0;
            padding: 0;
            border-bottom: 1px solid $stTropaz;
            // overflow: hidden;

            &:hover {
              div.kpiTitle {
                div.actions {
                  animation: actionIcons 1s;
                  opacity: 1;
                  visibility: visible;
                  transform: translateY(0%);
                }
              }
            }
            div.kpiTitle {
              display: flex;
              div.titleWrapper {
                flex: 1 1 auto;
                @include font('extrabold', $fontFamilySecond);
                color: $white;
                font-size: 20px;
                line-height: 20px;
                margin-bottom: 22px;
                transition: color .3s;
                span {
                  margin-right: 8px;
                }

                &:hover,
                &.hover {
                  cursor: pointer;
                  color: $burntSienna;
                }
              }
              div.actions {
                margin-left: 10px;
                min-width: 36px;
                flex: 1 1 36px;
                transform: translateY(-120%);
                transition: transform .4s;
                opacity: 0;
                visibility: hidden;
                div {
                  margin-bottom: 10px;
                }
                .worldIcon {
                  height: 36px;
                  width: 36px;
                  border-radius: 50%;
                  background-color: transparentize($colorAccent, .75);
                  background-image: url('/assets/icons/globe_white.svg');
                  background-size: 18px;
                  background-repeat: no-repeat;
                  background-position: center center;
                  cursor: pointer;
                  transition: background-image .3s;
                  &:hover,
                  &.hover {
                    background-image: url('/assets/icons/arrow-go_sienna.svg');
                    background-size: 20px;
                  }
                }
                .flagIcon {
                  display: none;
                  height: 36px;
                  width: 36px;
                  border-radius: 50%;
                  background-color: transparentize($colorAccent, .75);
                  background-image: url('/assets/icons/flag_white.svg');
                  background-size: 18px;
                  background-repeat: no-repeat;
                  background-position: center center;
                  cursor: pointer;
                  transition: background-image .3s;
                  &:hover {
                    background-image: url('/assets/icons/flag_sienna.svg');
                  }
                }
              }
            }

            div.stats {
              div.maxWrapper {
                .maxName {
                  @include font('semibold');
                  font-size: 16px;
                  line-height: 16px;
                  color: $white;
                  display: flex;
                  align-items: center;
                  &:before {
                    content: 'MAX';
                    background-color: $malachite;
                    border-radius: 1px;
                    height: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $colorAccent;
                    font-size: 12px;
                    line-height: 12px;
                    letter-spacing: 1px;
                    margin-right: 8px;
                    padding: 0 2px;
                  }
                }
                .maxValue {
                  margin-top: 6px;
                  @include font('extrabold', $fontFamilySecond);
                  font-size: 48px;
                  line-height: 48px;
                }
              }

              div.statWrapper {
                .statName {
                  @include font('semibold');
                  font-size: 16px;
                  line-height: 16px;
                  color: $white;
                  display: flex;
                  align-items: center;
                  &:before {
                    content: '';
                    border-radius: 1px;
                    height: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $colorAccent;
                    font-size: 12px;
                    line-height: 12px;
                    letter-spacing: 1px;
                    margin-right: 8px;
                    padding: 0 2px;
                  }

                  &.max {
                    &:before {
                      content: 'MAX';
                      background-color: $malachite;
                    }
                  }
                  &.min {
                    &:before {
                      content: 'MIN';
                      background-color: $amaranth;
                    }
                  }
                  &.avg {
                    &:before {
                      content: 'AVG';
                      color: $white;
                      background-color: $neutro-50;
                    }
                  }
                }
                .statValue {
                  @include font('extrabold', $fontFamilySecond);
                  font-size: 48px;
                  line-height: 48px;
                  margin: 6px auto 10px auto;

                  span.unit {
                    @include font('none', $fontFamilySecond);
                    font-size: 32px;
                  }

                  &.avg {
                    font-size: 32px;
                    line-height: 32px;
                    span.unit {
                      @include font('none', $fontFamilySecond);
                      font-size: 20px;
                      line-height: 32px;
                    }
                  }
                }
              }
            }
            div.singleMode {
              div.value {
                @include font('extrabold', $fontFamilySecond);
                font-size: 48px;
                color: $white;
                line-height: 48px;

                span.unit {
                  @include font('none', $fontFamilySecond);
                  font-size: 32px;
                }
              }
            }

            div.comparisonMode {
              background-color: $mercury;
              border-radius: 1px;
              display: flex;
              flex-direction: column;
              padding: 12px 16px 12px 16px;
              margin-bottom: 18px;
              .barWrapper {
                margin-bottom: 12px;
                .dataWrapper {
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  margin-bottom: 4px;
                  .countryName {
                    @include font('semibold');
                    color: $mineShaft;
                    font-size: 14px;
                    line-height: 14px;
                  }

                  .value {
                    color: $mineShaft;
                    font-size: 14px;
                    line-height: 14px;
                  }
                }
              }

              .barFigure {
                height: 6px;
                width: 100%;
                background-color: $white;
                position: relative;
                .barFill {
                  position: absolute;
                  left: 0;
                  top: 0;
                  bottom: 0;

                  transition: width .3s;

                  &.blue {
                    background-color: $indigo;
                  }
                  &.red {
                    background-color: $amaranth;
                  }
                }
              }
            }

            div.placeholder {
              color: $silver;
              font-size: 16px;
              line-height: 16px;

              display: flex;
              justify-content: space-between;
              align-items: center;
              .infoIcon {
                height: 20px;
                width: 20px;
                background-image: url('/assets/icons/info.svg');
                background-size: cover;
                background-repeat: no-repeat;
                cursor: pointer;
              }
            }

            div.mapLegend {
              display: flex;
              flex-direction: column;
              padding-top: 12px;
              margin-top: 29px;
              border-top: 1px solid $stTropaz;
              .row {
                align-items: center;
                &.legendTitle {
                  color: $silver;
                  font-size: 13px;
                  line-height: 14px;
                  margin-bottom: 6px;
                }
                &.separate {
                  margin-top: 6px;
                  display: flex;
                  justify-content: space-between;
                }

                .max,
                .min {
                  color: $white;
                  font-size: 14px;
                  line-height: 14px;
                }
              }

              .legend {
                display: flex;
                height: 10px;
                border-radius: 5px;
                border: 2px solid $stTropaz;
                align-items: center;
                justify-content: center;
                span {
                  flex: 1 1 100%;
                  height: 6px;

                  &:first-of-type {
                    border-radius: 5px 0 0 5px;
                  }
                  &:last-of-type {
                    border-radius: 0 5px 5px 0;
                  }
                }

                $legendColors: (
                  1: #FCE4E0,
                  2: #F9C8C0,
                  3: #F6ADA1,
                  4: #f07662,
                  5: #ec4d33
                );
                @each $index, $color in $legendColors {
                  span:nth-child(#{$index}) {
                    background-color: $color;
                  }
                }
              }
            }

            div.info {
              margin-top: 0;
              margin-bottom: 0;
              padding-top: 0;
              height: 0;
              opacity: 0;
              visibility: hidden;
              transition: opacity .3s;

              &.active {
                opacity: 1;
                visibility: visible;
                height: auto;
                margin-top: 17px;
                &.detail {
                  margin-top: 15px;
                  padding-top: 15px;
                }
              }

              .headline {
                @include font(bold);
                font-size: 16px;
                line-height: 20px;
                color: $mercury;
              }

              .body {
                color: $mercury;
                @include font();
                font-size: 14px;
                line-height: 16px;
              }
            }

            .goalsWrapper {
              display: flex;
              justify-content: space-between;
              align-items: center;
              background: $darkIndigo;
              border-radius: 2px;
              height: 32px;
              margin-top: 22px;

              span {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 4px;
                @include font(semibold);
                color: $silver;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 1px;
                &:before {
                  content: '';
                  width: 24px;
                  height: 24px;
                  background-image: url('/assets/goals/SDG Wheel_Transparent-01.png');
                  background-size: cover;
                  display: inline-flex;
                  margin-right: 6px;
                }
              }

              $goalsColors: (
                1: #eb1420,
                2: #cf9612,
                3: #1c923c,
                4: #be1929,
                5: #f0361d,
                6: #00a4d6,
                7: #ffaf00,
                8: #861530,
                9: #f46110,
                10: #e00079,
                11: #fb9300,
                12: #ca8217,
                13: #3e6d34,
                14: #0071b6,
                15: #31a83b,
                16: #004a82,
                17: #162e5f
              );

              .goalsContainer {
                display: flex;
                flex-direction: row;
                padding-right: 4px;
                .box {
                  flex: 1 1 100%;
                  width: 24px;
                  height: 24px;
                  border-radius: 1px;
                  margin-left: 4px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  @include font('bold');
                  font-size: 14px;
                  line-height: 16px;
                  cursor: pointer;
                  color: $white;

                  @each $index, $color in $goalsColors {
                    &.goal_#{$index}) {
                      background-color: $color;
                      position: relative;

                      .goalImage {
                        width: 0;
                        height: 0;
                        opacity: 0;
                        visibility: hidden;

                        transition: width .3s, height .3s, opacity .3s;
                      }

                      .tooltipMessage {
                        right: 0;
                        left: auto;
                      }
                      &:hover {
                        .tooltipMessage {
                          opacity: 1;
                          visibility: visible;
                          font-weight: normal;
                        }
                        .goalImage {
                          opacity: 1;
                          visibility: visible;
                          box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
                          width: 64px;
                          height: 64px;

                          position: absolute;
                          right: 0;
                          bottom: 0;
                          background-image: url('/assets/goals/E_SDG-goals_icons-individual-rgb-#{$index}.png');
                          background-size: cover;
                          z-index: 10;
                        }
                      }
                    }
                  }
                }
              }
            }

            &:last-child {
              border-bottom: 2px solid transparent;
            }
          }
        }

        &.active {
          div.title {
            &:after {
              transform: rotate(0deg);
            }
          }
          ul.kpisList {
            max-height: none;
            opacity: 1;
            visibility: visible;
            height: auto;
            padding: 0 20px;
            li {
              height: auto;
              padding: 16px 0 28px 0;
            }
          }
        }
      }
    }
  }

  @include respond-to($small) {
    right: $headerSmallPaddingRight;
  }
  @include respond-to($medium) {
    right: $headerMediumPaddingRight;
  }
  @include respond-to($large) {
    right: $headerLargePaddingRight;
  }

}

@keyframes actionIcons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
