<div id="cesiumContainer"></div>
<p id="cesiumCredit"></p>

<div id="dark_control" class="navControl" [ngClass]="{'disabled': mode!=='dark'}" (click)="onClickMode('dark')">
  <div class="icons">
    <div class="point"></div>
    <img src="/assets/icons/globe_amaranth.svg"  class="globe"/>
    <img src="/assets/icons/arrow2-amaranth.svg" class="arrow"/>
  </div>
  <p>Issues to improve</p>
</div>
<div id="light_control" class="navControl" [ngClass]="{'disabled': mode!=='light'}" (click)="onClickMode('light')">
  <div class="icons">
    <img src="/assets/icons/arrow2-indigo.svg" class="arrow"/>
    <img src="/assets/icons/globe_indigo.svg" class="globe"/>

    <div class="point"></div>
  </div>
  <p>Milestone to achieve</p>
</div>
