@import 'common';

:host {
  position: absolute;
  left: 0;
  right: 0;
  height: $headerHeight;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: transparentize($white, .15);
  z-index: 1001;

  @include respond-to($small) {
    padding-left: $headerSmallPaddingLeft;
    padding-right: $headerSmallPaddingRight;
  }
  @include respond-to($medium) {
    padding-left: $headerMediumPaddingLeft;
    padding-right: $headerMediumPaddingRight;
  }
  @include respond-to($large) {
    padding-left: $headerLargePaddingLeft;
    padding-right: $headerLargePaddingRight;
  }

  .leftSide {
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    h1 {
      @include font('extrabold', $fontFamilySecond);
      color: $colorAccent;
      cursor: pointer;
    }

    h2 {
      @include font('semibold', $fontFamilySecond);
      color: $burntSienna;
    }

    h1,
    h2 {
      @include respond-to($small) {
        font-size: 28px;
        line-height: 28px;
      }
      @include respond-to($medium) {
        font-size: 32px;
        line-height: 32px;
      }
      @include respond-to($large) {
        font-size: 36px;
        line-height: 36px;
      }
    }

    span.lightLegend {
      @include font();
      color: $gray;
      font-style: italic;

      @include respond-to($small) {
        margin-left: 10px;
        line-height: 18px;
      }
      @include respond-to($medium) {
        margin-left: 12px;
        line-height: 26px;
      }
      @include respond-to($large) {
        margin-left: 15px;
        line-height: 26px;
      }
    }

    span.axaSlash {
      @include respond-to($small) {
        margin-left: 6px;
      }
      @include respond-to($medium) {
        margin-left: 10px;
      }
      @include respond-to($large) {
        margin-left: 14px;
      }
    }
  }

  .rightSide {
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    span {
      @include font();
      font-size: 18px;
      color: $colorAccent;
      display: flex;
      align-items: flex-end;
      &.bold {
        @include font('superbold');
      }

      &.axaSlash.small {
        height: 20px;
        background-size: 16px 14px;
        margin: 0 4px 0 4px;
      }
    }

    &:after {
      content: '';
      width: 64px;
      height: 64px;
      background-image: url('/assets/logos/AXA_logo.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      display: block;
      margin-left: 12px;
    }
  }
}
