@import 'common';

:host {

  width: 0;
  transform: translateX(120%);
  transition: transform .8s;
  transition-delay: .8s;

  background-color: #000;
  padding: 150px 64px 0px 64px;
  @media (min-width: 768px) {
    padding: 68px 64px 0px 64px;
  }
  @media (min-width: 992px) {
    padding: 70px 64px 0px 64px;
  }
  @media (min-width: 1200px) and (min-height: 801px) {
    padding: 150px 64px 0px 64px;
  }
  h4 {
    @include font(bold);
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    position: relative;
    letter-spacing: 4px;
    a {
      color: $indigo;
    }
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $indigo;
    }
  }

  ul {
    li {
      color: #fff;
      position: relative;
      padding: 25px 0 22px 0;
      text-align: center;
      .data {
        .value {
          @include font(extrabold, $fontFamilySecond);
          font-size: 72px;
          line-height: 60px;

          &.big{
            font-size: 96px;
            line-height: 96px;
            margin: 5px 0;

            @media (min-width: 768px) {
              font-size: 56px;
              line-height: 56px;
            }
            @media (min-width: 992px) {
              font-size: 72px;
              line-height: 72px;
            }
            @media (min-width: 1200px) and (min-height: 801px) {
              font-size: 96px;
              line-height: 96px;
            }
          }

        }
        .units {
          @include font();
          font-size: 24px;

          @media (min-width: 768px) {
            font-size: 24px;
            line-height: 48px;
          }
          @media (min-width: 992px) {
            font-size: 36px;
            line-height: 48px;
          }
          @media (min-width: 1200px) and (min-height: 801px) {
            font-size: 48px;
            line-height: 48px;
          }
        }
      }
      .title {
        @include font(semibold);
        font-size: 18px;

        @media (min-width: 768px) {
          font-size: 14px;
          line-height: 14px;
        }
        @media (min-width: 992px) {
          font-size: 16px;
          line-height: 16px;
        }
        @media (min-width: 1200px) and (min-height: 801px) {
          font-size: 18px;
          line-height: 18px;
        }

      }

      &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $mineShaft;
      }

      &.big {

      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    a.button {
      height: 48px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 17px 20px;
      border-radius: 1px;
      margin-top: 20px;
      text-transform: uppercase;
      background-color: $colorAccent;
      color: #FFFFFF;
      @include font(semibold);
      letter-spacing: 2px;
      line-height: 14px;
      font-size: 14px;
      display: flex;
      align-items: center;
      position: relative;
      &:after{
        content: '';
        background: url('/assets/icons/arrow-go_white.svg') no-repeat;
        width: 18px;
        height: 18px;
        background-size: 18px 18px;
        position: absolute;
        bottom: 50%;
        right: 14px;
        transform: translateY(50%);
      }

    }

  }




}
