<h4>AXA ESSENTIALS</h4>

<ul>
  <li class="big">
    <p class="data"><span class="value big">64</span><span class="units"></span></p>
    <p class="title">Countries</p>
  </li>
  <li>
    <p class="data"><span class="value">165</span><span class="units">K</span></p>
    <p class="title">Employees</p>
  </li>
  <li>
    <p class="data"><span class="value">107</span><span class="units">M</span></p>
    <p class="title">Customers</p>
  </li>
  <li>
    <p class="data"><span class="value">€100</span><span class="units">bn</span></p>
    <p class="title">Revenues</p>
  </li>
</ul>

<div class="buttons">
  <a href="#" class="button">Enter</a>
</div>

<div class="geographica">
  <a href="https://geographica.gs" target="_blank">
    engineered by <span>Geographica</span>
  </a>
</div>
